<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
	<form action="/signUp" method="POST">
	  <div class="container">
	    <h1>Register</h1>
	    {% if errorMessage == "" %}
		    <p>Please fill in this form to create an account.</p>
		{% else %}
		    <p style="color:red">{{errorMessage}}</p>
		{% endif %}
	    <hr>

	    <label for="name"><b>Full Name</b></label>
	    <input type="text" placeholder="Enter Full Name" id="name" name="name" required>

	    <label for="email"><b>Email</b></label>
	    <input type="text" placeholder="Enter Email" id="email" name="email" required>

	    <label for="resCollege"><b>Residential College</b></label>
	    <input type="text" placeholder="Enter Residential College" id="resCollege" name="resCollege" required>

	    <label for="dormAddress"><b>Dorm Room</b></label>
	    <input type="text" placeholder="Enter Dorm Room" id="dormAddress" name="dormAddress" required>

	    <label for="psw"><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" id="password" name="password" required>

	    <label for="psw-repeat"><b>Repeat Password</b></label>
	    <input type="password" placeholder="Repeat Password" id="passwordRepeat" name="passwordRepeat" required>
	    <hr>

	    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
	    <button type="submit" class="registerbtn">Register</button>
	  </div>

	  <div class="container signin">
	    <p>Already have an account? <a href="/login">Sign in</a>.</p>
	  </div>

	</form>

</body>

</html>
